@model IEnumerable<CoreUI.Web.Models.Estados>

@{ ViewData["Title"] = "Index"; }



<p>
    <a class="btn btn-primary btn-sm" asp-action="Create">Nuevo Estado</a>
</p>


<div class="col-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify">
                "Estados"
            </i>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Paises)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paises.PaisId)
        </td>
        <td>
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.EstadoId">Editar</a> |
            <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.EstadoId">Detalles</a> |
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EstadoId">Borrar</a>
        </td>
    </tr>
}
            </tbody>
        </table>



    </div>
</div>
